/* info spaziatura con stella */
.-star- {
  max-width: 60%;
  margin: 0 auto;
}
.-star- .glyphicon-star {
  font-size: 3.2em;
}
.-star- hr {
  display: inline-block;
  width: 30%;
  border: 0;
  border-top: 6px solid black;
  border-radius: 5px;
  margin-bottom: 17px;
}
/* fine info spaziatura stella */

/* Utility */

.ms_btn {
  background-color: #1abc9c;
  border-color: #1abc9c
}

.wrapper {
  width: 50%;
  margin: 0 auto;
}

.padding_top {
  padding-top: 2vh;
}

.padding_bottom {
  padding-bottom: 2vh;
}

/* utility */

/* info specifiche barra fixed */
.ms_topheader {
  width: 100%;
  height: 14vh;
  background-color: #2c3e50;
  color: white;
  line-height: 14vh;
}

.ms_topheader {
  line-height: 14vh
}
.ms_topheader a {
  color: white;
  text-decoration: none;
}
.ms_topheader .Logo {
  font-size: 2.3em;
  font-weight: bolder;
  text-transform: uppercase;
}

.ms_topheader .ms_list_padding a {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}
.ms_topheader .ms_list_padding li {
  padding: 0 3%;
}

.ms_topheader .ms_burger {
  font-size: 3em;
  line-height: 14vh;
}
.ms_topheader .ms_burger:active {
  color: white;
}
.ms_topheader .ms_burger:visited {
  color: white;
}

/* fine info barra fixed */

/* info jumbo */
.ms_jumbotron {
  width: 100%;
  position: relative;
  margin: 14vh 0;
  height: 80vh;
  background-color: #1abc9c;
}
.ms_jumbotron h1 {
  font-size: 3.5em;
  font-weight: 700;
}
.jumbo-contenuto {
  color: white
}
.jumbo-contenuto .-star- hr {
 border-color: white;
}

.jumbo-contenuto .immagine img {
  width: 27%;
  height: 50%;
}

.jumbo-contenuto p {
  font-size: 1.6em;
}

/* info Main */
/* sezione portfolio */
#portfolio h2 {
  font-size: 3em;
  font-weight: 700;
}
/* colori sfondo img */
/* impostazioni effetto Hover */
.img-1 {
  position: relative;
}
.plus_over {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 188, 156, 0.9);
  opacity: 0;
  margin: 0 15 15 0;
}
.plus_over:hover {
  opacity : 1;
}

.plus_over i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  font-size: 10em;
  color: white;
}
/* fine impostazioni effeto hover */
/* impostazioni immagine portfolio */
.img img {
  max-width: 100%;
  padding-bottom: 5%;
}
/* fine impostazioni immagine portfolio */
/* fine sezione portfolio */

/* Sezione About */
#about {
  background-color: #1abc9c;
  color: white;
  margin-top: 10vh;
}
#about .-star- hr{
  border-color: white;
}
#about h2 {
  font-size: 3em;
  font-weight: 700;
}

#about div:last-child {
  margin-bottom: 5vh;
}
#about p {
  padding: 5% 0 0 10%;
}

#about .ms_btn {
  background-color: #00000000;
  border-color: white;
}
#about a {
  color: white;
  margin-bottom: 3vh;
}
/* fine sezione about */

/* sezione Conctact */
#contact h2 {
  font-size: 3em;
  font-weight: 700;
}

#contact div:last-child {
  margin-bottom: 3vh;
}
#contact p {
  padding: 30% 0;
}


#contact .ms_floating {
  border-bottom: 2px solid #e9ecef;
}
/* fine sezione contact */
/* fine main */

/* inizio footer */
footer  div:nth-child(2) {
  padding: 0;
}
footer  div:first-child {
  padding-left: 20px;
}
footer  div:last-child {
  padding-right: 20px;
}
/* inizio upper footer */
#upper-footer {
  background-color: #3a546d;
  color: white;
}

#upper-footer ul li {
  font-size: 2.3em;
  border: 1px solid white;
  width: 57px
}
#upper-footer a {
  color: #1abc9c;
}
.riquadro {
  padding-top: 20px;
}
/* ine upper footer */

/* inizio lower footer */
#lower-footer {
  width: 100%;
  background-color: #2c3e50;
  color: white;
}
/* fine lower footer */

@media screen and (min-width:722px) and (max-width:992px) {
  footer .upper-footer div:nth-child(2) {
    padding: 15px;
  }
  footer .container-fluid .upper-footer div:first-child {
    padding: 15px;
  }
  footer .upper-footer div:last-child {
    padding: 15px;
  }
}

@media screen and (max-width:772px) {
  footer .upper-footer div:nth-child(2) {
    padding: 15px;
  }
  footer .upper-footer div:first-child {
    padding: 15px;
  }
  footer .upper-footer div:last-child {
    padding: 15px;
  }
}
